.content-wrapper {
    margin: 20px auto;
    padding: 20px 40px;
    width: 400px;
    background-color: #F1F1F1;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
    box-sizing: border-box;
}

input[type=password] {
    height: 40px;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px darkgray solid;
    font-family: Arial;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    transition: box-shadow 0.5s;
    padding: 0 10px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
}
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,255,17,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,255,17,1);
    box-shadow: 0px 0px 10px 0px rgba(0,255,17,1);
}

label {
    display: block;
    margin: 5px 0;
    font-family: Arial;
    font-size: 20px;
}
.content-wrapper .field-error {
    color: red;
    margin-bottom: 20px;
}

.content-wrapper .form-field {
    margin-bottom: 10px;
}

.content-wrapper .form-field input[type=submit], .content-wrapper .form-field a {
    padding: 5px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: #1B9CE2;
    margin-right: 5px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 499px) {
    .content-wrapper {
        width: 100%;
        margin: 0;
    }
    input[type=password] {
        width: 100%;
        margin: 0 auto;
    }
}
