.content-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    padding: 20px 30px;
}

.content-wrapper .greetings-wrapper {
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px dashed black;
}

.content-wrapper .greetings {
    font-size: 30px;
    font-family: Arial;
}

.content-wrapper .operations {
    padding-bottom: 10px;
    margin: 10px 0;
}

.content-wrapper .operations a {
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: #1B9CE2;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: color 0.5s;
}

.content-wrapper .operations a:hover {
    color: coral;
}