<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="blog(blog)" class="blog-wrapper">
        <div class="title-wrapper">
            <div class="img-wrapper">
                <img src="" alt="" class="blog-img"/>
            </div>
            <div class="title">
                <a th:href="@{'/blog/' + ${blog.id}}" th:text="${blog.title}">Title</a>
            </div>
        </div>
        <div class="body-wrapper">
            <p th:text="${blog.content}">Lorem ipsum dolor sit amet, vim an tritani suscipit inciderint. Ea mel decore eruditi, has illum eloquentiam cu, vel ornatus expetenda expetendis ex. Impetus perfecto te mea. Cu perpetua euripidis pri, sea facete antiopam erroribus ad. Cu vix omnesque persecuti.

                Error nobis possit no sit, vix ei viris ponderum apeirian. Clita oratio soluta ei sea, te sed idque placerat gubergren, idque etiam vidisse at mel. Eam ut viris graeco postulant, ex vix probatus perpetua. Vix eu solum autem timeam.

                Accusam delicatissimi eu mei, mei at viris scripta alienum. Usu ut brute expetenda, cu vix vide erroribus. Eum et tantas malorum accommodare. Eum ne voluptua elaboraret comprehensam, mel ei nobis oblique, ut est fuisset postulant. Vix simul invenire torquatos eu. Sea ei noster definiebas persequeris, usu et ridens latine accusata. Vim quot legendos id, ad dicat accusata sensibus per.
            </p>
        </div>
        <div class="footer-wrapper">
            <div class="author">
                <p th:text="${blog.user == null ? 'Anonymous' : blog.user.email}">Paul</p>
            </div>
            <div class="delete" th:if="${#authentication.name == blog.user.email}">
                <a th:href="@{'/blog/' + ${blog.id} + '/delete'}">Delete this blog</a>
            </div>
            <div class="date">
                <p th:text="${blog.modifyDate}">01/10/2016</p>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>

    <div th:fragment="noBlogHint" class="blog-wrapper">
        <p>No blog available</p>
    </div>
</body>
</html>