<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="comment-item(blogComment)" class="comment-item">
    <div class="comment-item-info">
        <div class="author">
            <p th:text="${blogComment.commenter.email}">Paul</p>
        </div>
        <div class="delete" th:if="${#authentication.name == blogComment.commenter.email}">
            <a th:href="@{'/blog/' + ${blogComment.commentedBlog.id} + '/comment/' + ${blogComment.id} + '/delete'}">Delete comment</a>
        </div>
        <div class="date">
            <p th:text="${blogComment.commentDate}">01/10/2016</p>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="comment-item-content">
        <p th:text="${blogComment.content}">
            Lorem ipsum dolor sit amet, vim an tritani suscipit inciderint. Ea mel decore eruditi, has illum eloquentiam cu, vel ornatus expetenda expetendis ex. Impetus perfecto te mea. Cu perpetua euripidis pri, sea facete antiopam erroribus ad. Cu vix omnesque persecuti.
        </p>
    </div>
</div>
</body>
</html>