<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="commentAdder(blogComment, postLink)" class="comment-adder-wrapper">
    <!--<div th:fragment="commentAdder" class="comment-adder-wrapper">-->
        <div class="title-wrapper">
            <p th:text="#{comment_adder.title_wrapper}">Leave your comment here</p>
        </div>
        <form th:action="@{${postLink}}" method="post" th:object="${blogComment}">
            <div class="textarea-wrapper">
                <p class="error-msg" th:errors="*{content}">Comment cannot be blank</p>
                <textarea th:field="*{content}" cols="30" rows="10"></textarea>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Submit" class="button submit" th:value="#{comment_adder.form.submit.value}"/>
                <input type="reset" value="Clear" class="button reset" th:value="#{comment_adder.form.reset.value}"/>
            </div>
        </form>
    </div>
</body>
</html>