<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="comment(blogCommentList)" class="comment-wrapper">
        <div class="comment-block-title">
            <p>Comments</p>
        </div>
        <div class="comment-content-block">
            <th:block th:each="blogComment : ${blogCommentList}">
                <div th:replace="fragments/comment-item :: comment-item(${blogComment})"></div>
            </th:block>
            <div th:if="${#lists.isEmpty(blogCommentList)}" class="no-comment-wraper">
                <p>There are no comments</p>
            </div>
        </div>
    </div>

</body>
</html>