<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="header" class="header-wrapper">
        <div class="row">
            <div class="icon">
                <img th:src="@{/img/blog-icon.png}" alt="Logo" width="25px" height="25px"/>
            </div>
            <div class="title">
                <p>Paul's Blog Site</p>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</body>
</html>