* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    /*border: 1px solid red;*/
    min-height: 700px;
    width: 1024px;
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .container {
        width: 800px;
    }
}

@media screen and (max-width: 799px) {
    .container {
        width: 100%;
    }
}