<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{about.title}">About</title>
    <link rel="stylesheet" th:href="@{/css/pages/about.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="about-wrapper">
        <div class="about-content">
            <p th:text="#{about.content}" class="about-title">Used Frameworks:</p>
            <ul>
                <li>Spring Boot</li>
                <li>Spring MVC</li>
                <li>Spring Data JPA</li>
                <li>Spring Security</li>
                <li>JSR303 Bean Validation</li>
                <li>Spring Validator</li>
                <li>Thymeleaf</li>
                <li>Thymeleaf Layout Dialect</li>
                <li>Thymeleaf Spring Security Dialect</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>