<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/fragments/blogItem.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/comment.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/commentAdder.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="fragments/blogItem :: blog(${blog})"></div>
    <div th:replace="fragments/comment :: comment(${blog.commentList})"></div>
    <th:block th:if="${#authentication.name != 'anonymousUser'}">
        <div th:replace="fragments/commentAdder :: commentAdder(${blogComment},'/blog/' + ${blog.id} + '/comment')"></div>
    </th:block>

</div>
</body>
</html>