<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/page-layout.css}" href="../static/css/page-layout.css"/>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}" href="../static/css/fragments/header.css"/>
    <link rel="stylesheet" th:href="@{/css/fragments/navBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/blog.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navBar :: navBar"></div>
<div class="container">
    <div th:replace="fragments/blog :: blog"></div>
    <div th:replace="fragments/blog :: blog"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>