<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="root"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{blog.title}">Blog</title>

    <link rel="stylesheet" th:href="@{/css/fragments/blogItem.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/blog.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/pager.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="add-blog-wrapper" th:if="${displayAddBlogLink == true}">
        <a th:href="@{/blog/new}" th:text="#{blog.add_new_blog}">Add New Blog</a>
    </div>
    <th:block th:each="blog : ${blogList}">
        <div th:replace="fragments/blogItem :: blog(${blog})"></div>
    </th:block>
    <div th:if="${#lists.size(blogList) == 0}">
        <div th:replace="fragments/blogItem :: noBlogHint"></div>
    </div>
    <div class="pager-wrapper">
        <div th:replace="fragments/pager :: pager(${blogList})"></div>
    </div>
</div>
</body>
</html>