<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/fragments/blog.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/comment.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="fragments/blog :: blog"></div>
    <div th:replace="fragments/comment :: comment"></div>
</div>
</body>
</html>