<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{change_password.title}">Change Password</title>
    <link rel="stylesheet" th:href="@{/css/pages/changePassword.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <form th:action="@{/user/settings/password}" method="post">
                <div class="form-field"><label for="oldPassword" th:text="#{change_password.form.old_password}">Old Password:</label><input type="password" id="oldPassword" name="oldPassword"/></div>
                <div class="field-error" th:if="${error == 'old'}"><p th:text="#{change_password.form.error.old}">Password error</p></div>
                <div class="form-field"><label for="newPassword" th:text="#{change_password.form.new_password}">New Password:</label><input type="password" id="newPassword" name="newPassword"/></div>
                <div class="field-error" th:if="${error == 'new'}"><p th:text="#{change_password.form.error.new}">Password Length should be between 6 and 16 letters</p></div>
                <div class="form-field"><label for="newPassword2" th:text="#{change_password.form.password2}">Confirm:</label><input type="password" id="newPassword2" name="newPassword2"/></div>
                <div class="field-error" th:if="${error == 'confirm'}"><p th:text="#{change_password.form.error.confirm}">Two passwords are not the same</p></div>
                <div class="form-field">
                    <input type="submit" value="Confirm" th:value="#{change_password.form.submit.value}"/>
                    <a th:href="@{/user/settings}" th:text="#{change_password.form.cancel}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>