<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/pages/changePassword.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <form th:action="@{/user/settings/password}" method="post">
                <div class="form-field"><label for="oldPassword">Old Password:</label><input type="password" id="oldPassword" name="oldPassword"/></div>
                <div class="field-error" th:if="${error == 'old'}"><p>Password error</p></div>
                <div class="form-field"><label for="newPassword">New Password:</label><input type="password" id="newPassword" name="newPassword"/></div>
                <div class="field-error" th:if="${error == 'new'}"><p>Password Length should be between 6 and 16 letters</p></div>
                <div class="form-field"><label for="newPassword2">Confirm:</label><input type="password" id="newPassword2" name="newPassword2"/></div>
                <div class="field-error" th:if="${error == 'confirm'}"><p>Two passwords are not the same</p></div>
                <div class="form-field">
                    <input type="submit" value="Confirm"/>
                    <a th:href="@{/user/settings}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>