<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/pages/index.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class="img-block">
            <div class="element email-wrapper">
                <input type="text" class="textfield" placeholder="Email"/>
            </div>
            <div class="element password-wrapper">
                <input type="text" class="textfield" placeholder="Password"/>
            </div>
            <div class="element button-wrapper">
                <a href="#" class="link login">Log in</a>
                <a th:href="@{/signup}" class="link sign-up">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>