<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="author" content="Paul(Yao) Zhang"/>
    <meta name="description" content="Paul's Blog Project"/>
    <meta name="keywords" content="Paul, Blog, Java, Spring, Boot"/>
    <title th:text="#{root.title}">Index</title>
    <link rel="stylesheet" th:href="@{/css/root.css}" href="../static/css/root.css"/>
</head>
<body>
<!-- Header -->
<div class="header-wrapper">
    <div class="row">
        <div class="icon">
            <img th:src="@{/img/blog-icon.png}" alt="Logo" width="25px" height="25px"/>
        </div>
        <div class="title">
            <p th:text="#{root.header.title}">Paul's Blog Site</p>
        </div>
        <div class="language-selector">
            <ul>
                <li><a th:href="@{'/?lang=en_US'}">English</a></li>
                <li><a th:href="@{'/?lang=zh_CN'}">中文</a></li>
            </ul>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>
<!-- NavBar -->
<div class="navbar-wrapper">
    <div class="navbar">
        <ul>
            <li class="menu-title"><label for="showMenuItemToggle"></label><span th:text="#{root.navbar.menu}">Menu</span></li>
            <input id="showMenuItemToggle" type="checkbox"/>
            <div class="menu-item-wrapper">
                <li class="menu-item"><a th:href="@{/}" th:text="#{root.navbar.home}">Home</a></li>
                <li class="menu-item"><a th:href="@{/blog/my}" th:text="#{root.navbar.my_blog}">My Blog</a></li>
                <li class="menu-item"><a th:href="@{/user/settings}" th:text="#{root.navbar.settings}">Settings</a></li>
                <li class="menu-item"><a th:href="@{/about}" th:text="#{root.navbar.about}">About</a></li>
                <li class="menu-item" th:if="${#authentication.name != 'anonymousUser'}"><a onclick="submit()" th:text="#{root.navbar.log_out}">Log Out</a></li>
                <li class="menu-item" th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/login}" th:text="#{root.navbar.login}">Log In</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="container">
    <div layout:fragment="content" th:remove="tag">
        Content goes here
    </div>
</div>
<div class="footer-wrapper">
    <p class="footer-content" th:text="#{root.footer.footer_content}">Paul Tech 2016</p>
</div>
<div style="display: none">
    <form th:action="@{/logout}" id="logout_form" method="post">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    function submit() {
        var logoutForm = document.getElementById("logout_form");
        logoutForm.submit();
    }
</script>
</body>
</html>