<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="root">
<head>
    <meta charset="UTF-8"/>
    <title>Settings</title>
    <link rel="stylesheet" th:href="@{/css/pages/settings.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <div class="greetings-wrapper">
                <p class="greetings"> <span th:text="#{settings.greetings}">Hello</span> <span th:text="${#authentication.name}"></span></p>
            </div>
            <div class="operations">
                <p th:text="#{settings.operations}">Operations:</p>
                <a th:href="@{/user/settings/password}" th:text="#{settings.change_password}">Change Password</a>
            </div>

        </div>

    </div>
</body>
</html>